{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bercail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'aviculture/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<style>
    .text-rotation {
    position: relative;
}

.rotate-left {
    animation: rotateLeft 2s infinite;
}

.rotate-right {
    animation: rotateRight 2s infinite;
}

@keyframes rotateLeft {
    0% {
        transform: rotateY(-360deg);
    }
    50% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes rotateRight {
    0% {
        transform: rotateY(360deg);
    }
    50% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

</style>

    <header>
          <div class="logo">
            <img src="{% static 'aviculture/images/logo.png' %}" class="logo-image front">
            <img src="{% static 'aviculture/images/logo_G.png' %}" class="logo-image back">
          </div> 
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'index' %}"><h4>Accueil</h4></a></li>
                <li><a href="{% url 'commande' %}"><h4 class="text-rotation">Faire une commande</h4></a></li>
                <li><a href="#"><h4>A propos</h4></a></li>
                <li><a href="#"><h4>Contact</h4></a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <!-- End of the page -->
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h4>À propos de nous</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="footer-section">
                <h4>Contact</h4>
                <ul>
                    <li><a href="mailto:info@example.com">info@example.com</a></li>
                    <li><a href="tel:+1234567890">+12 345 678 90</a></li>
                    <li><a href="#">Adresse de la société</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Suivez-nous</h4>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Tous droits réservés &copy; 2023</p>
        </div>
    </footer>
 <!-- Inclure la bibliothèque jQuery -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <!-- Inclure les fichiers JavaScript de Bootstrap -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
  <!-- gerer les deux logo -->
 <script>
    function toggleLogoImages() {
  var logoImages = document.querySelectorAll('.logo-image');
  logoImages.forEach(function(logoImage) {
    logoImage.classList.toggle('active');
    logoImage.classList.toggle('front');
    logoImage.classList.toggle('back');
  });
}

setInterval(toggleLogoImages, 5000);

// Sélectionnez le header et le contenu de la page
var header = document.querySelector('header');
var content = document.querySelector('.content');

// Récupérez la hauteur du header
var headerHeight = header.offsetHeight;

// Écoutez l'événement de défilement de la page
window.addEventListener('scroll', function() {
  // Récupérez la position actuelle de défilement
  var scrollPosition = window.scrollY || window.pageYOffset;

  if (scrollPosition === 0) {
    // Réinitialiser les styles d'origine lorsque la position de défilement est en haut
    header.style.height = headerHeight + 'px';
    header.style.opacity = 1;
    header.style.backgroundColor = 'grey';
  } else {
    // Calculer l'opacité et la hauteur réduite du header
    var opacity = 1 - (scrollPosition / headerHeight);
    var reducedHeight = headerHeight - scrollPosition;

    // Appliquer les modifications au header
    header.style.height = reducedHeight + 'px';
    header.style.opacity = opacity;

    // Appliquer le fond avec un changement de couleur
    var color = 'rgb(255, ' + Math.floor(opacity * 255) + ', ' + Math.floor(opacity * 255) + ')';
    header.style.backgroundColor = color;
  }
});

// // Ajustez la hauteur du contenu de la page pour éviter les sauts lors de la réduction du header
// content.style.paddingTop = headerHeight + 'px';


//barre de navi
  // Fonction pour animer le texte
  function textRotation() {
        const h4Element = document.querySelector('.text-rotation');
        h4Element.classList.toggle('rotate-left');
        h4Element.classList.toggle('rotate-right'); 
    }

    // Appeler la fonction toutes les 5 secondes
    setInterval(textRotation, 2000);

 </script>
    
</body>
</html>